.app {
  text-align: center;
}

.header-img {
  width: 100%;
  height: auto;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  max-width: 450px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .form-container {
    padding: 10px;
  }
}
